.button {
	background: var(--colorGreenLight);
	border-radius: 10px;
	border: none;
	color: var(--colorVioletLight);
	cursor: pointer;
	display: inline-block;
	font-family: Monospace;
	font-size: 1.25rem;
	font-weight: bold;
	padding: 0.75rem 1.75rem;
}

.button:hover {
	background: var(--colorOrangeLight);
}

a.button {
	text-decoration: underline;
}
